* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}



#grid_wrapper1{
    display:grid;
    height:150vh;
    grid-template-columns: auto;
    grid-template-rows:  100px 500px 300px ; 
    grid-template-areas: 
    "he he"
    "ma ma"
    "ma ma"
    "fo fo";
    overflow: hidden;
}

#grid_wrapper2{
    display:grid;
    height:200vh;
    grid-template-columns:  400px minmax(400px, 1fr) minmax(100px, 1fr);
    grid-template-rows: 100px 300px 300px ;
    grid-template-areas: 
    "he he he"
    "ma2 ma2 ar1"
    "ma2 ma2 ar1"
    "se1 se1 se1"
    "ar2 ar2 ar2"
    "ar2 ar2 ar2"
    "fo fo fo";

    ;
    overflow: hidden;
}

#grid_wrapper3{
    display:grid;
    height:250vh;
    grid-template-columns: auto;
    grid-template-rows:  100px 150px 1000px 300px ; 
    grid-template-areas: 
    "he he"
    "ar3 ar3"
    "se2 se2"
    "se2 se2"
    "fo fo";
    overflow: hidden;
}
header{
    position: fixed;
    width: 100%;
    height: 100px;
    max-width: 100%;
    min-width: none;
    margin: 0 auto;
    grid-area: he;
    background: rgb(208, 203, 203);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
   
}


#main1{
    grid-area: ma;
    display: flex;
    background: url(../img/animals/startmenu.jpg);
    background-size: 100%;
    
   
    
}

#main2{
    grid-area: ma2;
    background: url(../img/animals/om-oss1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: inset 0 0 5px 2px #282a2d; 
  
}

#section1{
    grid-area: se1;
    height: 100px;
    background: rgb(208, 203, 203);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

#section2{
    grid-area: se2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    background: rgb(222, 193, 193);
    
    gap: 10px; 
}


#section_djur{
    display: flex;
    flex-wrap: wrap;
}

.section_djur{
    width: 150px;
    height: 210px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

footer{
    grid-area: fo;
    background: rgb(34, 32, 32);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    width: 100%;
    max-height: fit-content;
    max-width: 100%;
    min-width: none;
    margin: 0 auto;
    z-index: 1;

       
    
}

#article1{
    grid-area:ar1 ;
    display: flex;
    justify-content:center;
    align-content:flex-start;  
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#article2{
    grid-area: ar2;
    height: 300px;
    display: flex;
    align-content: space-around;
    
    justify-content: center;
    flex-wrap: wrap; 
    margin-left: 10px;
    margin-top: 20px;
    gap: 300px; 

}

#article3{
    grid-area: ar3;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
    background: rgb(222, 193, 193);
    
}


#article_rubrik1{
    font-size: 20px;
    padding: 10px;
    order: 1;
}

#text_om_oss{
    order: 2;
    padding-left: 10px;
    font-family:'Times New Roman', Times, serif;
    font-stretch: ultra-expanded;
}

#rubrik2_om_oss{
    order: 3;
    padding: 10px;
    margin-top: 50px;
    font-size: 20px;
}

#text2_om_oss{
    order: 4;
    padding-left: 10px;
}
#startmenu{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(66, 66, 50);
    border-radius: 4px;
    
    
  
}

h3 {
    font-size: 50px;
    gap: 20px;
    font-family: 'Fredoka One', cursive;
    color: rgb(0, 0, 0);
    
    
    
    
}

h5{
    margin-top: 10px; 
    font-size: 20px;
    gap: 20px;
    font-family: 'Fredoka One', cursive;

    
}

#rubrik_djur{
    text-align: center;
    order:1;
    font-size: 25px;
    margin-top: -30px;
}

#text_djur{
    text-align: center;
    order: 2;
    font-stretch: ultra-expanded;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 16px;
}
a{
    color: rgb(60, 55, 49);
    text-decoration: double;
}

a:hover{
    color: black;

}


#textfooter{
 font-size: 12px;
 
}



.rubrik {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    
}

#startmenu:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

.text{
    position:absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    padding: 5px;
    border-radius: 40px;
    background: rgb(91, 113, 19);
   
    
    

}
#textfooter{
    display: flex;
    justify-items: center;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
h1{

    text-decoration: overline underline;
}

h5{
    max-width: 500px;
    margin: px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}


p{
    font-family: 'Times New Roman', Times, serif;
    
}

.öppetider{
    position: absolute;
    top: 107%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    border-radius: 20%;
   
}

.dagar{

   
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#månfre{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 20%;
}


#lör{
    position: absolute;
    top: 112%;
    left: 49.25%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
}

#sön{
    position: absolute;
    top: 114%;
    left: 49.25%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
}
 
#öppetiderbackground{
    background-color: rgb(52, 20, 20);
}
.footericons{
    fill : rgb(34, 32, 32);
    width: 10px;


}



#personbild1{
    width: 150px;
    border: 3px solid black;
    border-radius: 15px;
}

#personbild2{
    width: 150px;
    border: 3px solid black;
    border-radius: 15px;

}
#personbild3{
    width: 150px;
    border: 3px solid black;
    border-radius: 15px;

}
.card_img1{
   height: 50px;
   width: 70px;
}

.card_img2{
    width: 400px;
    height: 250px;
 }

.cards1{

    border: 3px solid black;
    border-radius: 20px;
    height: 250px;
    width: 153px;
    display: flex;
    background: rgb(34, 32, 32);
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0.2);


}

.cards2{

    border: 3px solid black;
    border-radius: 10px;
    height: 250px;
    width: 400px;
    display: flex;
    background: url(../img/animals/flamingo.jpeg);
    background-repeat: no-repeat;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    


}

#namn2{
    
    
    position: absolute;
    top: 140%;
}

#telefonnummer{
    position: absolute;
    top: 142%;
    
}

#yrke{
    position: absolute;
    top: 144%;
}

.cardinfo{
    margin-left: 5px;
    color: white ;
}

.djur{
    width: 150px;
    border: 3px solid black;
    border-radius: 15px;
}