* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#grid_wrapper{
    display:grid;
    height:100vh;
    grid-template-columns: auto;
    grid-template-rows:  100px minmax(500px, 1fr) 100px;
    grid-template-areas: 
    "he he"
    "ma ma"
    "ma ma"
    "ma ma"
    "fo fo";
}

header{
    grid-area: he;
    background: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}


main{
    grid-area: ma;
    background: blue;
}

footer{
    grid-area: fo;
    background: yellow;
    display: flex;
    justify-content: space-around;
    align-items: flex-start ;
       
    
}


h2 {
    gap: 40px;
}